@model PagedList.IPagedList<GPPClientModel.EmailDistributionList>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Email Distribution List";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Message Code
        </th>
        <th>
            SDS Environment
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Emldkey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MsgCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ERP)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Emldkey }) |
            @Html.ActionLink("Details", "Details", new { id = item.Emldkey }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Emldkey })
        </td>
    </tr>
}


</table>

<br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

