@model PagedList.IPagedList<GPPClientModel.Messages>
@using PagedList.Mvc;

<h2 class="page-header">Messages</h2>
<style>
    #tblMessages tr td {
        vertical-align: middle;
    }
</style>
<p>
    <button type="button"
            id="btnAdd"
            class="btn btn-link btn-md"
            data-toggle="modal"
            data-target="#dvMessage"
            href="@Html.Raw(Url.Action("CreateMessage", "Maintenance", new { trdpCode = ViewBag.trdpCode, coluCode = ViewBag.coluCode }))">
        New Message
    </button>
    <div class="modal fade" id="dvMessage" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="dvMessageSettings" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create Message Setting</h4>
                </div>
                <div class="modal-body">
                    @{ Html.RenderAction("CreateMessageSettings", "Maintenance"); }
                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="dvDeleteConfirmation" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete confirmation</h4>
                </div>
                <div class="modal-body">
                    Delete message setting?
                    <span id="spanDetails"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnConfirmDelete">Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="dvEmailDistList" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</p>
<table class="table" id="tblMessages">
    <tr>
        <th>
            Message Code
        </th>
        <th>
            Trading Partner Code
        </th>
        <th>
            Name
        </th>
        <th>
            Country Code
        </th>
        <th>
            File Direction
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MsgCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradingPartnercode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColuCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileDirectionCode)
            </td>
            <td>
                <button type="button"
                        id="btnEdit"
                        class="btn btn-link btn-sm"
                        data-toggle="modal"
                        data-target="#dvMessage"
                        href="@Html.Raw(Url.Action("EditMessage", "Maintenance", new { trdpCode = item.TradingPartnercode, msgCode = item.MsgCode }))">
                    Edit
                </button> |
                <button type="button"
                        id="btnEdit"
                        class="btn btn-link btn-sm"
                        data-toggle="modal"
                        data-target="#dvMessage"
                        href="@Html.Raw(Url.Action("DeleteMessage", "Maintenance", new { trdpCode = item.TradingPartnercode, msgCode = item.MsgCode }))">
                    Delete
                </button>
            </td>
        </tr>
    }

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
<div id="myPager">
    @Html.PagedListPager(Model, page => Url.Action("GetMessagesPerTradingPartner", "Maintenance", new { page, trdpCode = ViewBag.trdpCode }))
</div>
<script>
    $(function () {
        $('#myPager').on('click', 'a', function () {
            $.ajax({
                url: this.href,
                type: 'GET',
                cache: false,
                success: function (result) {
                    $('#MessagesList').html(result);
                }
            });
            return false;
        });

        $('body').on('hidden.bs.modal', '.modal', function () {
            $(this).removeData('bs.modal');
        });

        $('#dvDeleteConfirmation').on('show.bs.modal', function (e) {
            var data = $(e.relatedTarget).data();

            $("#btnConfirmDelete", this).data("recordId", data.recordId);
            $("#btnConfirmDelete", this).data("messageCode", data.messageCode);
            $("#btnConfirmDelete", this).data("fileType", data.fileType);

        });

        $("#btnConfirmDelete").click(function () {
            var id = $(this).data("recordId");
            var msgCode = $(this).data("messageCode");
            var fileType = $(this).data("fileType");
            $.ajax(
                {
                    url: '@Url.Action("DeleteMessageSettings", "Maintenance")',
                    type: 'POST',
                    data: { "id": id, "msgCode": msgCode, "fileType": fileType },
                    success: function (data) {
                        $("#MessageSettings .container .row").html("");
                        $("#MessageSettings .container .row").html(data);
                        $('#dvDeleteConfirmation').modal('hide');
                    }
                });
        });
    });
</script>