@model GPPClientModel.FileType

@{
    ViewBag.Title = "Delete";
}

<div>
    <h4>FileType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileTypeCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileTypeCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileTypeName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
