@model GPPClientModel.Messages

<div>
    <h4>Messages</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MsgCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MsgCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TradingPartnercode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TradingPartnercode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColuCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColuCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDebug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDebug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsUseTemporaryExtension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsUseTemporaryExtension)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Counter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Counter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TemporaryFileExtension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TemporaryFileExtension)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartReadWrite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartReadWrite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DelLinePattern)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DelLinePattern)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodePageId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodePageId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileNameConvention)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileNameConvention)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileNameExtension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileNameExtension)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileNameDateFormat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileNameDateFormat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExcelTemplatePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExcelTemplatePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExcelRowOffset)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExcelRowOffset)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExcelXMLTableNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExcelXMLTableNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileDirectionCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileDirectionCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Result)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Result)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.XmlNode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XmlNode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MondayFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MondayFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TuesdayFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TuesdayFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WednesdayFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WednesdayFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThursdayFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThursdayFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FridayFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FridayFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaturdayFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaturdayFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SundayFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SundayFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManualRunFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManualRunFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartRuntime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartRuntime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndRuntime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndRuntime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
